/*  your css code here. If applicable */
.main{
background-color:#f5f5f5;
	padding:10px;
}

li{
list-style-type:none;
	padding:15px;
	background-color:white;
	margin:20px;
	border:1px solid black;
}

span{
text-align:right;
	font-style:italic;
}